html,body {
	margin: 0;
	padding: 0;
}

* {
	/*Debug drawing*/
	/*border: 1px solid red;*/
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    width: 8.27in; /* Width of an A4 sheet of paper*/
}

p {
	margin: 0;
	font-weight: 300;
}

li {
	font-weight: 300;
}

#resume-page {
	display: flex;
	flex-direction: column;
	width: 8.27in;
    background-color: white;

    padding: 0.5in;

	/* Other potential font choices:
		Raleway
		Poiret One*/
    font-family: 'Lato', sans-serif;
}

.name-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 2em;
}

.contact-row {
	align-self: center;
}

.content-bar {
	background-color: rgb(88, 141, 255);
	height: 5px;
	width: 75%;
	align-self: center;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}

.content-section {
	color: rgb(88, 141, 255);
	margin-top: 20px;
	margin: 0;
}

.temporal-entry {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.header-row {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.item-time {
	display: flex;
	width: 20%;
}

.item-details {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.item-details > h3 {
	padding: 0;
	margin: 0;
}

.item-details > ul {
	margin: 0;
}

.personal-project {
	font-weight: bold;
}

.skill-item {
	font-weight: bold;
}